<!-- ... Bagian Footer ... -->
<footer class="footer">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6"> <!-- Adjust column sizes as needed -->
                <h5 class="resource-heading">Resource</h5>
                <ul class="list-unstyled">
                    <li><a class="light-link" href="https://getbootstrap.com/">Bootstrap5</a></li>
                    <li><a class="light-link" href="https://datatables.net/">DataTables</a></li>
                    <li><a class="light-link" href="https://splidejs.com/">SplideJS</a></li>
                    <li><a class="light-link" href="https://code.visualstudio.com/">VisualStudio Code</a></li>
                    <li><a class="light-link">Supported Hardware</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6"> <!-- Adjust column sizes as needed -->
                <h5 class="resource-heading">Activity</h5>
                <ul class="list-unstyled">
                    <li><a class="light-link">FullStack Developer</a></li>
                    <li><a class="light-link">UI / UX</a></li>
                    <li><a class="light-link">Desainer Grafis</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6"> <!-- Adjust column sizes as needed -->
                <h5 class="resource-heading">Social</h5>
                <ul class="list-unstyled">
                    <li><a class="light-link" href="https://www.instagram.com/fatonyahmadfauzi">Instagram</a></li>
                    <li><a class="light-link" href="https://www.tiktok.com/@fatonyahmadfauzi">TikTok</a></li>
                    <li><a class="light-link" href="https://twitter.com/fatonyahmad89">Twitter</a></li>
                    <li><a class="light-link" href="https://facebook.com/fatonyahmadfauzi">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- ... End Footer ... -->