<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Navbar</title>
  
  <!-- Link ke Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="gambar/LOGO_FAF - White.png" alt="" style="height: 35px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="katalog_product.html">Katalog Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="list_product.html">List Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="add_product.html">Add Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="edit_product.html">Edit Product</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Link ke jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <!-- Link ke Bootstrap JS (Popper.js dan Bootstrap.js) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Mengambil nama halaman dari URL
      var currentLocation = window.location.pathname.split("/").pop();

      // Menghapus kelas "active" dari semua elemen navbar
      var navItems = document.querySelectorAll(".navbar-nav .nav-item");
      navItems.forEach(function(item) {
        item.classList.remove("active");
      });

      // Menambahkan kelas "active" ke elemen navbar yang sesuai dengan halaman saat ini
      navItems.forEach(function(item) {
        var link = item.querySelector(".nav-link");
        if (link.getAttribute("href") === currentLocation || link.getAttribute("href") === currentLocation + ".html") {
          item.classList.add("active");
        }
      });
    });
  </script>
</body>
</html>
